[submodule "SimCCL"]
	path = SimCCL
	url = git@github.com:wt2017/SimCCL-fork.git
	branch = master
[submodule "aicb"]
	path = aicb
	url = git@github.com:wt2017/aicb-fork.git
	branch = master
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = git@github.com:wt2017/ns-3-alibabacloud-fork.git
	branch = master
